

@import url('../css/fonts.css'); /*Importing the fonts downloaded from another css file*/


/*--------------Default declaration for every website project------------*/
html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x:hidden;
}
/*------x-------Default declaration for every website project-----x-------*/




/* -----------Css Variable ----------------------------*/

:root{/*To call onto a variable, do 'font-family: var(--Abel)'*/
    /* theme font-family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;

    /* Theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /* gradient color */
    --sky:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/* ------x--------Css Variable ---------------x------------*/



/*------------------- Global Classes --------------------*/

/* These are pretty important to take note of and use for future projects 
as well*/

a{/*To style all the anchor tags globally*/
    text-decoration: none;/*removes the blue umderline from all anchor link*/
    color: var(--text-gray);
}

.flex-row{/*Makes flex accessible and to be used as many times as you want*/
    display: flex;/*Precondition it to flex setting*/
    flex-direction: row;/*Cause content inside nav div box to be displayed as a row(laid out in a line)*/
    flex-wrap:wrap;/*Causes the content overall BOX(ex:not individual list items) to collapse and be responsive when window is minimized*/
}

ul{/*edits all unordered list */
    list-style-type:none;/*gets rid of bulleted points*/
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
     border:none;
     border-radius: 2rem;
     padding: 1rem 3rem;
     font-size: 1rem;
     font-family: var(--Livvic);
     cursor: pointer;
}

span{/*mostly to target brief description*/
    font-family: var(--Abel);
}

.container{/*The outter box that holds everything including the innerbox(with all the content) together*/
    margin: 0 5vw;/*Adds some spacing for the left and right spacing*/
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family:var(--Lexend);
    color: var(--text-light);
}

/*---------x--------- Global Classes ----------x---------*/



/*------------------- navbar --------------------*/

.nav{/*To set the overall height of the nav box*/
    background: white;
    padding: 0 2rem;
    min-height:6.5vh;/*This is the main height of the entire nav content. set as a MINIMUM height of 10vh*/
    /*min-height typically should expand on its own when additional list items are added*/
    /*In addition to that at 6.5vh is perfect so that the content are completely hidden when you hover over the hidden content when the 3 line bar appears*/
    height: 0rem;/*This is an additional height that can be added on to the "minimum height of 10vh"*/
    overflow: hidden;

     transition: height 1s ease-in-out;/*Add a height transition so that if there are changes in the height this will activate*/
}

.nav .nav-menu{/*Edit the content and spread it apart*/
    justify-content: space-between;/*Spreading out the content*/
}

.nav .toggle-collapse{/*The entire box around everything of the bar icon*/
    position:absolute;/*bar stays in absolute position*/
    top:0%;/*no spacing top*/
    width:90%;/*Specify how far to the right the bar should be spaced*/
    cursor: pointer;/*the mouse turns to a point when hovered over*/
    display: none;/*The three line bar does not display until certain size*/
}

.nav .toggle-collapse .toggle-icons{/*The box around the three line icon*/
    display: flex;/*Sets up content to be ready for flex commands*/
    justify-content: flex-end; /*flex command to position it at the far right of every other content*/
    padding: 1.7rem 0;/*add padding to top and bottom*/
}

.nav .toggle-collapse .toggle-icons i{/*The individual bar lines itself*/
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{/*This is basically just placed here as a variable to be used by the jquery function commaned*/
    height: 30rem;/*when menu is opened this is how much content hidden should be revealed*/
    /*10 rem = 10% of the page height content should be shown. 30 = 30% ect*/
    /*For best quality do only 30%*/
}

.nav .nav-items{/*editing list content*/
    display:flex;/*precondition list to flex setting and align as a row */     
    margin:0;
}

.nav .nav-items .nav-link{/*edit the individual items list*/
    padding: 1.6rem 1rem; /*Adds padding to make it look like a real menu*/
    font-size : 1.1rem;/* changes to the item list font size */
    position: relative;/*By setting it to relative, if you did not add any padding or margin to it,
    it would be positioned at its default place(like a patty being stacked on a burger one by one). And by adding "top" or "left" you would be positioning it relative to its 
    original position(like its original height is 50px by default then it would add 50px more if you decide to add 50px to ) */
    font-family:var(--Abel);
    font-size:1.1rem;
}

.nav .nav-items .nav-link:hover{/*When you hover over the links the background changes color */
    background-color:var(--midnight);
}

.nav .nav-items .nav-link:hover a{ /* When you hover over text the anchor tag changes color */
    color:var(--white);
}

.nav .nav-brand a{ /*To style the 'Blogger' logo*/
    font-size: 1.6rem;/*Increasing the size of the site name logo 'Blogger'*/
    padding: 1rem 0;/*adds padding to the 'Blogger' logo*/
    display: block;/*Takes up the full width available*/
    font-family: var(--Lexend); /* Calls on a css variable and changes the logo to 'Abel' font that was imported*/

}

.nav .social{/*Edit the social media icons*/
    padding: 1.4rem 0; /* padding for the icons*/
}

.nav .social i{/*Add changes to the social media icons */
    padding: 0 .2rem;/*Add padding to both left and right of each icon*/
}

.nav .social i:hover{/*chances to the social icons when you hover over*/
    color: #a1c4cf;/* changes the color of icon when hovered over */
}

/*---------x--------- navbar ------------x-------*/




/*---------------------Main Content--------------------------*/



/*---------------Site Title------------------*/

main .site-title{/*---Outer box of the "Site-title" section-------------*/
    background: url(../assets/Background-image.png);/*background of the site title*/
    background-size: cover;
    height: 110vh;

    display: flex;/*Precondition it to flex setting*/
    justify-content: center;/*Does not center the text but the box holding the text and its content*/
}

main .site-title .site-background{
    padding-top: 10rem;/*The reason why you shouldnt use margin is because 
    the content of ".site-background" are inside the box of a CENTERERED ".site-title" there it 
    would be more logical to use padding*/
    text-align: center;/*Aligns the text within the box to the center*/
    color:var(--white);
}

main .site-title h1,h3{/*adding statements to the h1 and h3 for the site-title*/
    margin: .3rem;
}

main .site-title .btn{/*modifying the button of the site title*/
    margin: 1.8rem; /*adding margins outside of the button*/
    background:var(--sky);

}

main .site-title .btn:hover{/*execute commands when mouse is hovered over button*/
    background:transparent;/*causes the button to become transparent in color when hovered over*/
    border: 1px solid var(--white);
    color:var(--white);
}

/*-------x-------Site Title---------x---------*/


/*---------------------Blog Carousel-----------------------------*/

main .blog{/*Mostly just to put a background image for the carousel feature*/
    background:url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position:right;/*position the image to the right*/
    height: 100vh;/* 100 viewport height of the screen*/
    width: 100%;/*100 width of the screen*/
    background-size: 65%;
}

main .blog .blog-post{/*Adjustments for innerbox of carousel*/
    padding-top:6rem;/*adding top padding for innerbox*/
}

main .blog-post .blog-content{/*Adjustment for the content items*/
    display: flex;/*preconditioning the content to a flex*/
    flex-direction: column;/*make this content item be displayed in the direction of a column*/

    text-align: center;
    width: 80%;/*Make the item box with its image and content be 80% in width*/
    /*the reason for why you cant do 100% and get 100% of the entire screen is because it is already set up to have a specific
    maximum size from the imported carousel*/
    margin: 3rem 2rem;/*3 rem top and bottom 2 rem left and right*/
    
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);/* Add a box shadow to the first content item*/
}

main .blog-content .blog-title{/*directing location of the blogs title*/
    padding: 2rem 0;
}

main .blog-content .btn-blog{/*editiing the button of the blogs*/
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{/*here you are displaying the "2 minutes" text as block so that it has the whole space to itself
    and not placed on the right side of the button*/
    display: block;/*give it some space as a box*/
}

section .container .owl-nav{
    position: absolute;
    top:0%;/*Reseting its position to 0*/
    margin:0 auto;/*Reseting its position to 0*/
    width:100%;/*specifies the padding area*/
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color:var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{/*Anything with the starting name of "owl-" that is hovered over will apply these changes*/
    background:transparent;
    color:var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{/*Anything with the starting name of "owl-" will apply these changes*/
    outline:none;
}



/*-----------x---------Blog Carousel--------------x--------------*/

/*--------------------------Site content-----------------------------*/

main .site-content{/*The box that contains all the site content inclduing the post content*/
    display: grid;
    grid-template-columns: 70% 30%; /* Takes up 70% width for Blog post and 30% width for sidebar*/
}

main .post-content{/*The box that contains all the post content*/
    width:100%;/*Gives the box its full width so text wont be too crowded*/
    margin-bottom: 5rem;
}

main .site-content .post-content > .post-image, .post-title{/* this is the info/date published title on top of the blog pictures*/
    /*to understand the "greater than" sign go to 
    https://stackoverflow.com/questions/4459821/css-selector-what-is-it
    */
    /*The reason for why you do the > is because is shorter to write and read rather than do
    main .site-content .post-content > .post-image, 
    main .site-content .post-content > .post-title;*/
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{/* You could shorten this code to "main .site-content .post-info but it would be harder to read and understand*/
    background: var(--sky);
    padding: 1rem;
    position: absolute;/* the reason for why you need to do absolute position 
    here is because its the only way for you to get it out of its box(in other words 
    make it lay over or on top of the image)*/
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{/*the image of the blog*/
    width:100%;/*gives it its real width according to its surroundings */
    transition: all 1s ease;/* You should always have the transiton declared in 
    the original class rather than at the ":hover"*/
}

main .site-content .post-content > .post-image .img:hover{/*When you hover over the image it will animate*/
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{/*adding margin to the span tags inside the ".post-info" ckass*/
    margin: 0.5rem;
}

main .post-content .post-title a{/*All the p tags inside the ".post-title" div class will have text changes done to them*/
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{/*Add changes to the ".post-btn" class*/
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

.site-content .pagination{/* This is the "next page" numbers bar but its the 
    entire box content of it*/
    justify-content: center;
    color:var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{/*this is targetting all numbers and content
    within the "next page" box*/
    padding: .6rem .9rem;
    border-radius: 2rem;/*creates a round border so that when the a tag background is turn black it will be a round border*/
    margin: 0.3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{/*targetting the display of all a tags with the class of "pages"*/
    background: var(--text-gray);
    color: var(--white);
}

/*------------x------------Site content-------------x------------------*/






/*-----------------------Sidebar---------------------------*/

.site-content > .sidebar .category-list{ /* the entire content within the ".category-list" class */
    font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items{ /*All the ".list-items" class will have a new change applied*/
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;/*This has to exist in order for justify-content to even work properly*/
    justify-content: space-between;/*Put a space between the list items and the numbers*/
}

.site-content > .sidebar .category-list .list-items a{/*all the a tags in the list tags will have changes applied*/
    color: black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{/* adds a some spacing to the header*/
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{/*modifies the dates and info of the "post-info" section*/
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a{/*chnages to the Main title of post*/
    font-size: 1rem;
}

.site-content .sidebar .newsletter{/*For editing the entire subscriber section*/
    padding-top: 3rem;
}

.site-content .sidebar .newsletter .form-element{/*The user interface of the subscriber section*/
    padding: .5rem .2rem;
}

.site-content .sidebar .newsletter .input-element{/*for editiing the input element*/
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size:1rem;
}

.site-content .sidebar .newsletter .form-btn{/*For editing the subscriber button below the user input box*/
    display: block;
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content .sidebar .popular-tags{/*The entire "popular-tags" bar*/
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{/*Each individual tags */
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}


/*---------x-------------Sidebar----------------x----------*/



/*------------------------Footer--------------------------*/

footer.footer{/*The entire outer box of the footer*/
    height: 100%;
    background:var(--bg-color);
    position: relative;
}

footer.footer .container{/*The innerbox of the footer with all its content*/
    display: grid;/*Preconditions the footers content to be able to use grid features*/
    grid-template-columns: repeat(4,1fr);/*four difference sections for the footer*/
}

footer.footer .container > div{/*Targetting all the divs*/
    flex-grow: 1;/*Seting it to a 1 will cause the div contaiers to have equal outter spacing
    and cause all the div to grow and take up all the available spaces*/
    flex-basis: 0;/*Acts as a minimum-width but but doesnt create a bottom scroll bar*/
    padding: 3rem .9rem;
}

footer.footer .container h2{/*Edits the all the h2 section of footer*/
    color:var(--white);
}

footer.footer .newsletter .form-element{/*Selecting the entire placeholder of input*/
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{/*The input block of placeholder*/
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{/*The "enter" button/icon*/
    background: var(--sky);
    padding: .5rem .7rem;
}

footer.footer .instagram div > img{/*Easy to make the software to navigate through and easier to read*/
    /*but it is pretty much saying all the images with the parent of ".instgram, Div" will have these features applied*/
    display: inline-block;
    width:25%;
    height:50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0.4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top:50%;
}

/*------------x-----------Footer--------------x-----------*/


/*---------x-----------Main Content-------------x------------*/



/* Viewport less than or equal to 750px Horizontally */

@media only screen and (max-width:750px){/*If the overall viewport is less than or equal to 750 then these commands will apply*/
    .nav .nav-menu, .nav .nav-items{/*targets both the .nav-menu and also .nav-items*/
       flex-direction: column;/*the content inside nav div box will become stacked upon each other and form(and also list items)a column as early as a max width of 750px*/ 
    }
    
    .nav .toggle-collapse{
        display: initial; /* once screen is  <= 750 than display initial content*/
    }

}

/* x   Viewport less than or equal to 750px    x     */





