

@import url('../css/fonts.css'); /*Importing the fonts downloaded from another css file*/


/*--------------Default declaration for every website project------------*/
html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x:hidden;
}
/*------x-------Default declaration for every website project-----x-------*/




/* -----------Css Variable ----------------------------*/

:root{/*To call onto a variable, do 'font-family: var(--Abel)'*/
    /* theme font-family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;

    /* Theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /* gradient color */
    --sky:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/* ------x--------Css Variable ---------------x------------*/



/*------------------- Global Classes --------------------*/

a{/*To style all the anchor tags globally*/
    text-decoration: none;/*removes the blue umderline from all anchor link*/
    color: var(--text-gray);
}

.flex-row{/*Makes flex accessible and to be used as many times as you want*/
    display: flex;/*Precondition it to flex setting*/
    flex-direction: row;/*Cause content inside nav div box to be displayed as a row(laid out in a line)*/
    flex-wrap:wrap;/*Causes the content overall BOX(ex:not individual list items) to collapse and be responsive when window is minimized*/
}

ul{/*edits all unordered list */
    list-style-type:none;/*gets rid of bulleted points*/
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
     border:none;
     border-radius: 2rem;
     padding: 1rem 3rem;
     font-size: 1rem;
     font-family: var(--Livvic);
     cursor: pointer;
}

/*---------x--------- Global Classes ----------x---------*/



/*------------------- navbar --------------------*/

.nav{/*To set the overall height of the nav box*/
    background: white;
    padding: 0 2rem;
    min-height:6.5vh;/*This is the main height of the entire nav content. set as a MINIMUM height of 10vh*/
    /*min-height typically should expand on its own when additional list items are added*/
    /*In addition to that at 6.5vh is perfect so that the content are completely hidden when you hover over the hidden content when the 3 line bar appears*/
    height: 0rem;/*This is an additional height that can be added on to the "minimum height of 10vh"*/
    overflow: hidden;

     transition: height 1s ease-in-out;/*Add a height transition so that if there are changes in the height this will activate*/
}

.nav .nav-menu{/*Edit the content and spread it apart*/
    justify-content: space-between;/*Spreading out the content*/
}

.nav .toggle-collapse{/*The entire box around everything of the bar icon*/
    position:absolute;/*bar stays in absolute position*/
    top:0%;/*no spacing top*/
    width:90%;/*Specify how far to the right the bar should be spaced*/
    cursor: pointer;/*the mouse turns to a point when hovered over*/
    display: none;/*The three line bar does not display until certain size*/
}

.nav .toggle-collapse .toggle-icons{/*The box around the three line icon*/
    display: flex;/*Sets up content to be ready for flex commands*/
    justify-content: flex-end; /*flex command to position it at the far right of every other content*/
    padding: 1.7rem 0;/*add padding to top and bottom*/
}

.nav .toggle-collapse .toggle-icons i{/*The individual bar lines itself*/
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{/*This is basically just placed here as a variable to be used by the jquery function commaned*/
    height: 30rem;/*when menu is opened this is how much content hidden should be revealed*/
    /*10 rem = 10% of the page height content should be shown. 30 = 30% ect*/
    /*For best quality do only 30%*/
}

.nav .nav-items{/*editing list content*/
    display:flex;/*precondition list to flex setting and align as a row */     
    margin:0;
}

.nav .nav-items .nav-link{/*edit the individual items list*/
    padding: 1.6rem 1rem; /*Adds padding to make it look like a real menu*/
    font-size : 1.1rem;/* changes to the item list font size */
    position: relative;/*would go with the flow positioning if there is no padding or margin additions, else it only adds onto the additional margin and padding*/
    font-family:var(--Abel);
    font-size:1.1rem;
}

.nav .nav-items .nav-link:hover{/*When you hover over the links the background changes color */
    background-color:var(--midnight);
}

.nav .nav-items .nav-link:hover a{ /* When you hover over text the anchor tag changes color */
    color:var(--white);
}

.nav .nav-brand a{ /*To style the 'Blogger' logo*/
    font-size: 1.6rem;/*Increasing the size of the site name logo 'Blogger'*/
    padding: 1rem 0;/*adds padding to the 'Blogger' logo*/
    display: block;/*Takes up the full width available*/
    font-family: var(--Lexend); /* Calls on a css variable and changes the logo to 'Abel' font that was imported*/

}

.nav .social{/*Edit the social media icons*/
    padding: 1.4rem 0; /* padding for the icons*/
}

.nav .social i{/*Add changes to the social media icons */
    padding: 0 .2rem;/*Add padding to both left and right of each icon*/
}

.nav .social i:hover{/*chances to the social icons when you hover over*/
    color: #a1c4cf;/* changes the color of icon when hovered over */
}

/*---------x--------- navbar ------------x-------*/




/*---------------------Main Content--------------------------*/



/*---------------Site Title------------------*/

main .site-title{/*---Outer box of the "Site-title" section-------------*/
    background: url(../assets/Background-image.png);/*background of the site title*/
    background-size: cover;
    height: 110vh;

    display: flex;/*Precondition it to flex setting*/
    justify-content: center;/*Does not center the text but the box holding the text and its content*/
}

main .site-title .site-background{
    padding-top: 10rem;/*The reason why you shouldnt use margin is because 
    the content of ".site-background" are inside the box of a CENTERERED ".site-title" there it 
    would be more logical to use padding*/
    text-align: center;/*Aligns the text within the box to the center*/
    color:var(--white);
}

main .site-title h1,h3{/*adding statements to the h1 and h3 for the site-title*/
    margin: .3rem;
}

main .site-title .btn{/*modifying the button of the site title*/
    margin: 1.8rem; /*adding margins outside of the button*/
    background:var(--sky);

}

main .site-title .btn:hover{/*execute commands when mouse is hovered over button*/
    background:transparent;/*causes the button to become transparent in color when hovered over*/
    border: 1px solid var(--white);
    color:var(--white);
}

/*-------x-------Site Title---------x---------*/


/*---------------------Blog Carousel-----------------------------*/

main .blog{/*Mostly just to put a background image for the carousel feature*/
    background:url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position:right;/*position the image to the right*/
    height: 100vh;/* 100 viewport height of the screen*/
    width: 100%;/*100 width of the screen*/
}

main .blog .blog-post{/*Adjustments for innerbox of carousel*/
    padding-top:6rem;/*adding top padding for innerbox*/
}

main .blog-post .blog-content{/*Adjustment for the first content item*/
    display: flex;/*preconditioning the content to a flex*/
    flex-direction: column;/*make this content item be displayed in the direction of a column*/

    text-align: center;
    width: 80%;/*Make the item box with its image and content be 80% in width*/
    margin: 3rem 2rem;/*3 rem top and bottom 2 rem left and right*/
    
}

/*-----------x---------Blog Carousel--------------x--------------*/





/*---------x-----------Main Content-------------x------------*/



/* Viewport less than or equal to 750px Horizontally */

@media only screen and (max-width:750px){/*If the overall viewport is less than or equal to 750 then these commands will apply*/
    .nav .nav-menu, .nav .nav-items{/*targets both the .nav-menu and also .nav-items*/
       flex-direction: column;/*the content inside nav div box will become stacked upon each other and form(and also list items)a column as early as a max width of 750px*/ 
    }
    
    .nav .toggle-collapse{
        display: initial; /* once screen is  <= 750 than display initial content*/
    }

}

/* x   Viewport less than or equal to 750px    x     */





